<i><h1><center>Exercise 4: Introduction to Pandas</center></h1></i>

<p><b>Aim:</b> This exercise covers basic operations in Pandas, such as converting lists to Series, generating date ranges, and creating DataFrames from dictionaries and 2D lists.</p>

1. Write a python program to convert list to series.
   <h2> pd.Series</h2>

In [8]:
import pandas as pd
sample = [1,2,3,4,5,6,7]
result = pd.Series(sample)
result

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

2. Write a python program to generate series of dates from 1 August 2024 to 15 August 2024.
   <h2> pd.date_range</h2>

In [11]:
import pandas as pd
result = pd.date_range('2024-08-01','2024-08-16')
result

DatetimeIndex(['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04',
               '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08',
               '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12',
               '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16'],
              dtype='datetime64[ns]', freq='D')

3. Dictionary to DataFrame and display it.

In [32]:
import pandas as pd
data = {
'Name': ['Dhoni', 'Virat', 'Rohit', 'Sanju'],
'No:': [7, 18, 45, 11],
'Team': ['CSK', 'RCB', 'MI', 'RR']}
df = pd.DataFrame(data)
data,df

({'Name': ['Dhoni', 'Virat', 'Rohit', 'Sanju'],
  'No:': [7, 18, 45, 11],
  'Team': ['CSK', 'RCB', 'MI', 'RR']},
     Name  No: Team
 0  Dhoni    7  CSK
 1  Virat   18  RCB
 2  Rohit   45   MI
 3  Sanju   11   RR)

4. 2D List convert to DataFrame and display it. (add column names)

In [41]:
import pandas as pd
data = [
['Mbappe', 9, 'FW'],
['Vini', 7, 'LW'],
['Rodrygo', 11, 'RW'],
['Bellingham', 5, 'AMF']]
column_names = ['Name', 'No:', 'Position']
df = pd.DataFrame(data,columns=column_names)

data,column_names,df

([['Mbappe', 9, 'FW'],
  ['Vini', 7, 'LW'],
  ['Rodrygo', 11, 'RW'],
  ['Bellingham', 5, 'AMF']],
 ['Name', 'No:', 'Position'],
          Name  No: Position
 0      Mbappe    9       FW
 1        Vini    7       LW
 2     Rodrygo   11       RW
 3  Bellingham    5      AMF)